<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Critical Mass Assessment</title>

    <script>
      window.onload = function () {
        var NavFunc = window.NavFunc;

        NavFunc.setupComponent();
        NavFunc.resizeListener();
      };
    </script>

  </head>
  <body>
    <main role="main">
      <div class="container">
        <section class="nav-tabs__container--outer">
          <div class="nav-tabs__container--inner">
            <div class="nav-tabs__list__wrapper">
              <ul class="nav-tabs__list js-tabs-list" data-parent=".nav-tabs__list__wrapper">
                <% for(let i=0; i < cities.length; i++) { %>
                    <li class="nav-tabs__item">
                      <span class="nav-tabs__anchor js-tab" data-parent=".nav-tabs__item" data-target="#city-time" data-offset="<%= cities[i].gmt_offset %>">
                        <%= cities[i].label %>
                      </span>
                    </li>
                <% } %>
                <span class="nav-tabs--indicator js-indicator"></span>
              </ul>
            </div>
          </div>
        </section>

        <section class="nav-target__container js-target" id="city-time">
        </section>
      </div>
     
    </main>
 

  </body>
</html>