// Variables
$apple-grey: #BCBBBC;
$apple-blue: #007AFF;

// Global Styles

html,
body {
	font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

::-webkit-scrollbar {
    height: 0px; 
    width: 0px; 
    background: transparent;
}

.container {
  width: 92%;
  margin-left: auto;
  margin-right: auto;
}

