// Nav Styles

.nav-tabs__container--outer {
  // To give space only
  margin-top: 1.5em;

  // Style
  overflow: hidden;
  padding-bottom: 5px;
}

.nav-tabs__container--inner {
  text-align: center;
  width: 100%;
  overflow-x: auto;
  position: relative;
  z-index: 1;
}

.nav-tabs__list__wrapper {
  overflow: auto;

  &:before {
    content:"";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    border-bottom: solid 1px $apple-grey;
  }
}

.nav-tabs__anchor {
  display: inline-block;
  padding-bottom: 10px;
  color: $apple-grey;
  cursor: pointer;

  &:hover {
    color: $apple-blue;
  }

  &.is-active,
  &.hover.is-active {
    color: black;
  }
}

.nav-tabs--indicator {
  height: 1px;
  display: block;
  background: black;
  position: absolute;
  bottom: -1px;


  &,
  &.is-active {
    transition: left 250ms;
  }
}

.nav-tabs__list {
  display: inline-block;
  position: relative;
  list-style-type: none;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    content: "\0020";
    height: 0;
    display: block;
    overflow: hidden;
  }

  &:after {
    clear: both;
  }
}

.nav-tabs__item {
  display: inline;
  float: left;
  margin: 0 28px;
  padding-top: 15px;
}

.nav-target__container {
  padding: 75px 0;
  font-size: 60px;
  text-align: center;
}
